

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;}

body {
    background-color: #ffffff;
    color: #0a2540;
}

/* Navbar */
.navbar {
    background-color: #061c3a;
    padding: 20px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: #eaeaea;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.icon{
    width: 25px;
    height: 25px;
}


.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    opacity: 0.9;
}

.nav-links a:hover {
    opacity: 1;
}

/* Hero */
.hero {
    margin: 40px;
    border-radius: 40px;
    overflow: hidden;
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    background: rgba(6, 28, 58, 0.75);
    padding: 100px 80px;
}

.hero-content h1 {
    font-size: 84px;
    letter-spacing: 2px;
    color: white;
}

.hero-content h2 {
    font-size: 56px;
    font-weight: 300;
    color: white;
}

/* CTA Button */
.cta-btn {
    margin-top: 40px;
    background-color: white;
    color: #061c3a;
    border: none;
    padding: 14px 26px;
    font-size: 24px;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
}

.cta-btn:hover {
    background-color: #f0f0f0;
}

/* Partners */
.partners {
    padding: 40px 80px;
}

.partners-title {
    font-family: "Montserrat", sans-serif;
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #555;
}

.partners-logos {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.partners-logos img {
    height: 60px;
    object-fit: contain;
    opacity: 0.85;
}

.logo-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo-track {
    display: flex;
    gap: 60px;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.logo-track img {
    height: 60px;
    opacity: 0.85;
    object-fit: contain;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Pause on hover (optional but nice) */
.logo-slider:hover .logo-track {
    animation-play-state: paused;
}

.about {
    padding: 80px;
    background-color: #ffffff;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #061c3a;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 16px;
    color: #444;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
}
